.container {
	display: flex;
	flex-flow: column nowrap;
	margin: 5px 0;
}

/* ------------------------------------------------------ */

.pseudoInput {
	box-sizing: border-box;
	border: 1px solid var(--bg-blue);
	background: var(--bg-dark);
	border-radius: 15px;
	height: 60px;
	display: flex;
	align-items: center;
	padding: 0 15px;
}

.pseudoInput:focus-within {
	border: 1px solid var(--gb-yellow);
}

.input {
	box-sizing: border-box;
	outline: none;
	border: 1px solid transparent;
	border-radius: 15px;
	background: var(--bg-dark);
	font-size: 26px;
	width: 100%;
	color: white;
}

.popoverContainer {
	position: relative;
}

/* ------------------------------------------------------ */

@keyframes loading-bar-animation {
	0% {
		transform-origin: center left;
		transform: scaleX(0);
	}
	50% {
		transform-origin: center left;
		transform: scaleX(100%);
	}
	51% {
		transform-origin: center right;
		transform: scaleX(100%);
	}
	100% {
		transform-origin: center right;
		transform: scaleX(0%);
	}
}

.loadingBar {
	position: absolute;
	width: 100%;
	height: 3px;
	background-image: linear-gradient(
		to right,
		var(--gb-dark-red),
		var(--gb-red),
		var(--gb-orange),
		var(--gb-yellow)
	);
	top: 0;
	animation: loading-bar-animation 0.7s ease-out infinite;
}
