.container {
	position: absolute;
	width: 100%;
	top: 0;
	background: var(--bg-dark);
	border: 1px solid var(--bg-blue);
	border-radius: 15px;
	padding: 10px 0;
	margin-top: 5px;
	display: flex;
	flex-flow: column nowrap;
	z-index: 1;
}

.button {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	border: none;
	color: var(--white);
	background: var(--bg-dark);
	padding: 10px;
}

.button:hover {
	background: #333;
	cursor: pointer;
}

.name {
	font-size: 24px;
	font-weight: 700;
	color: --var(--white);
}

.id {
	text-transform: uppercase;
	color: --var(--white);
}

.noResults {
	font-size: 21px;
	font-style: italic;
	padding: 5px 10px;
}

.noResultsExplaination {
	color: var(--muted);
	font-size: 14px;
	font-style: italic;
	padding: 0 10px 5px 10px;
}
