:root {
	--white: #fff;
	--black: #000;
	--muted: #555;

	--bg-light: #fcf3e1;
	--bg-dark: #000011;
	--bg-grey: #333;
	--bg-blue: rgb(21, 32, 54);

	--gb-dark-red: #900c3f;
	--gb-red: #c70039;
	--gb-orange: #ff5733;
	--gb-yellow: #ffc300;
}
